.gam{
border:3px solid #ffc370;
	border-radius: 3px;
	background-color:#4a4a4a;
}
.sidenav {
	height: 100%;
	width: 100px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
  }
  
  .sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 17px;
	color: #818181;
	display: block;
  }
.sidenav a:hover {
	color: #f1f1f1;
  }

  .main {
	margin-left: 160px; /* Same as the width of the sidenav */
	font-size: 28px; /* Increased text to enable scrolling */
	padding: 0px 10px;
  }

  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 10px;}
  }

body {
	background-color:#2F2F2F;
	
}
.button{
	background-color:transparent;
	height:50px;
	width: 100%;
	font-family:Courier;
	border:1px solid transparent;
	color:white;
	border-radius:3px;
	transition:border .2s, color .2s ease-in;
	font: size 18px;
	padding-right: 64;
}
p {
	font-family: 'Courier New', Courier, monospace;
	max-width: 50%;
	background-color:#4a4a4a;
	border:3px solid transparent;
	width:80%;
	height:1200px;
	border-radius:4px;
	text-align:left;
	color:white;
	font-size:17px;
}
nav {
	background-color: black;
}
.Thumb {
	cursor:url('IMG/ocur.png'), auto;
	width:200px;
	height: 125px;
	border:3px solid #ffc370;
	border-radius: 3px;
}
.ext{
	background-color:transparent;
	height:50px;
	min-width:100%;
	font-family:Courier;
	border:1px solid transparent;
	color:white;
	border-radius:3px;
	transition:border .2s, color .2s ease-in;
	font-size:24px;
	padding-right: 64;

}
.Thumb a:hover {
	border: #ffe0b5;
  }