body {
	background-color:#2F2F2F;
	
}
.button{
	background-color:transparent;
	height:50px;
	min-width:20%;
	font-family:Courier;
	border:1px solid transparent;
	color:white;
	border-radius:3px;
	transition:border .2s, color .2s ease-in;
	font-size:24px;
	padding-right: 64;
}
p {
	font-family: 'Courier New', Courier, monospace;
	width: 100%;
	background-color:#4a4a4a;
	border:3px solid transparent;
	width:80%;
	height:1200px;
	border-radius:4px;
	text-align:left;
	color:white;
	font-size:17px;
}
nav {
	background-color: black;
	border: 3px solid transparent;
	border-radius: 3px;
}
.Thumb {
	min-width: 25%;
	min-height:10%;
	max-width:25%;
	max-height:15%;
	border:3px solid #ffc370;
	border-radius: 3px;
}
.ext{
	background-color:transparent;
	height:50px;
	min-width:100%;
	font-family:Courier;
	border:1px solid transparent;
	color:white;
	border-radius:3px;
	transition:border .2s, color .2s ease-in;
	font-size:24px;
	padding-right: 64;

}
